@import url('https://fonts.googleapis.com/css?family=VT323');

.footer {
	/* font-family: 'VT323', monospace; */
	/*margin-left: -10px;*/
	position: fixed;

	bottom: 0px;
	left: 0px;
	right: 0px;

	width: 100vw;
	height: 60px;

	background: linear-gradient(180deg, #0F1930, #0E1628);

	text-align: center;
	align-self: center;
}

.footer-button {
	font-family: 'VT323', monospace;

	margin: 20px;
	padding: 4px 15px;
	
	background: linear-gradient(180deg, #2F3A4C, #0E1628);

	font-size: 20px;
	color: rgba(255, 255, 255, 0.3);
	
	border: 0;
}

.footer-button:hover {
	margin: 20px;
	padding: 4px 15px;
	background: linear-gradient(180deg, #2F3A4C, #0E1628);

	font-size: 20px;
	color: white;
	border: 2px solid #ACDDF9;
	border-radius: 20%;
	box-shadow: 0px 0px 15px #2383A6,
			inset 10px 10px 35px #2383A6,
			inset -10px -10px 35px #2383A6;
}