progress {
	/*display: table-cell;*/
	background: #14203B;
	background-color:  #14203B;

	/*border: 1px solid #58B1F0;*/
	border-radius: 1px;

	color: red;
}

progress::-webkit-progress-bar{

	background: transparent;
	background-color:  transparent;
}

.progress-10::-webkit-progress-value {
	background: -webkit-gradient(linear, left top, right top, 
										color-stop(0%,#58B1F0), color-stop(10%,#58B1F0), color-stop(10%,transparent), color-stop(11%,transparent), 
										color-stop(11%,#58B1F0), color-stop(20%,#58B1F0), color-stop(20%,transparent), color-stop(21%,transparent), 
										color-stop(21%,#58B1F0), color-stop(30%,#58B1F0), color-stop(30%,transparent), color-stop(31%,transparent), 
										color-stop(31%,#58B1F0), color-stop(40%,#58B1F0), color-stop(40%,transparent), color-stop(41%,transparent), 
										color-stop(41%,#58B1F0), color-stop(50%,#58B1F0), color-stop(50%,transparent), color-stop(51%,transparent), 
										color-stop(51%,#58B1F0), color-stop(60%,#58B1F0), color-stop(60%,transparent), color-stop(61%,transparent), 
										color-stop(61%,#58B1F0), color-stop(70%,#58B1F0), color-stop(70%,transparent), color-stop(71%,transparent), 
										color-stop(71%,#58B1F0), color-stop(80%,#58B1F0), color-stop(80%,transparent), color-stop(81%,transparent), 
										color-stop(81%,#58B1F0), color-stop(90%,#58B1F0), color-stop(90%,transparent), color-stop(91%,transparent), 
										color-stop(91%,#58B1F0), color-stop(100%,#58B1F0));
	/*background: #58B1F0;*/
}

.progress-10::-moz-progress-bar {
	background: -webkit-gradient(linear, left top, right top, 
										color-stop(0%,#58B1F0), color-stop(10%,#58B1F0), color-stop(10%,transparent), color-stop(11%,transparent), 
										color-stop(11%,#58B1F0), color-stop(20%,#58B1F0), color-stop(20%,transparent), color-stop(21%,transparent), 
										color-stop(21%,#58B1F0), color-stop(30%,#58B1F0), color-stop(30%,transparent), color-stop(31%,transparent), 
										color-stop(31%,#58B1F0), color-stop(40%,#58B1F0), color-stop(40%,transparent), color-stop(41%,transparent), 
										color-stop(41%,#58B1F0), color-stop(50%,#58B1F0), color-stop(50%,transparent), color-stop(51%,transparent), 
										color-stop(51%,#58B1F0), color-stop(60%,#58B1F0), color-stop(60%,transparent), color-stop(61%,transparent), 
										color-stop(61%,#58B1F0), color-stop(70%,#58B1F0), color-stop(70%,transparent), color-stop(71%,transparent), 
										color-stop(71%,#58B1F0), color-stop(80%,#58B1F0), color-stop(80%,transparent), color-stop(81%,transparent), 
										color-stop(81%,#58B1F0), color-stop(90%,#58B1F0), color-stop(90%,transparent), color-stop(91%,transparent), 
										color-stop(91%,#58B1F0), color-stop(100%,#58B1F0));
	/*background: #58B1F0;*/
}

.progress-9::-webkit-progress-value {
	background: -webkit-gradient(linear, left top, right top, 
										color-stop(0%,#58B1F0), color-stop(11%,#58B1F0), color-stop(11%,transparent), color-stop(12%,transparent), 
										color-stop(12%,#58B1F0), color-stop(22%,#58B1F0), color-stop(22%,transparent), color-stop(23%,transparent), 
										color-stop(23%,#58B1F0), color-stop(33%,#58B1F0), color-stop(33%,transparent), color-stop(34%,transparent), 
										color-stop(34%,#58B1F0), color-stop(44%,#58B1F0), color-stop(44%,transparent), color-stop(45%,transparent), 
										color-stop(45%,#58B1F0), color-stop(55%,#58B1F0), color-stop(55%,transparent), color-stop(56%,transparent), 
										color-stop(56%,#58B1F0), color-stop(66%,#58B1F0), color-stop(66%,transparent), color-stop(67%,transparent), 
										color-stop(67%,#58B1F0), color-stop(77%,#58B1F0), color-stop(77%,transparent), color-stop(78%,transparent), 
										color-stop(78%,#58B1F0), color-stop(88%,#58B1F0), color-stop(88%,transparent), color-stop(89%,transparent), 
										color-stop(89%,#58B1F0), color-stop(100%,#58B1F0)
										);
	/*background: #58B1F0;*/
}

.progress-9::-moz-progress-bar {
	background: -webkit-gradient(linear, left top, right top, 
										color-stop(0%,#58B1F0), color-stop(11%,#58B1F0), color-stop(11%,transparent), color-stop(12%,transparent), 
										color-stop(12%,#58B1F0), color-stop(22%,#58B1F0), color-stop(22%,transparent), color-stop(23%,transparent), 
										color-stop(23%,#58B1F0), color-stop(33%,#58B1F0), color-stop(33%,transparent), color-stop(34%,transparent), 
										color-stop(34%,#58B1F0), color-stop(44%,#58B1F0), color-stop(44%,transparent), color-stop(45%,transparent), 
										color-stop(45%,#58B1F0), color-stop(55%,#58B1F0), color-stop(55%,transparent), color-stop(56%,transparent), 
										color-stop(56%,#58B1F0), color-stop(66%,#58B1F0), color-stop(66%,transparent), color-stop(67%,transparent), 
										color-stop(67%,#58B1F0), color-stop(77%,#58B1F0), color-stop(77%,transparent), color-stop(78%,transparent), 
										color-stop(78%,#58B1F0), color-stop(88%,#58B1F0), color-stop(88%,transparent), color-stop(89%,transparent), 
										color-stop(89%,#58B1F0), color-stop(100%,#58B1F0)
										);
	/*background: #58B1F0;*/
}

.progress-8::-webkit-progress-value {
	background: -webkit-gradient(linear, left top, right top, 
										color-stop(0%,#58B1F0), color-stop(12.5%,#58B1F0), color-stop(12.5%,transparent), color-stop(13.7%,transparent), 
										color-stop(13.7%,#58B1F0), color-stop(25%,#58B1F0), color-stop(25%,transparent), color-stop(26.2%,transparent), 
										color-stop(26.2%,#58B1F0), color-stop(37.5%,#58B1F0), color-stop(37.5%,transparent), color-stop(38.7%,transparent), 
										color-stop(38.7%,#58B1F0), color-stop(50%,#58B1F0), color-stop(50%,transparent), color-stop(51.2%,transparent), 
										color-stop(51.2%,#58B1F0), color-stop(62.5%,#58B1F0), color-stop(62.5%,transparent), color-stop(63.7%,transparent), 
										color-stop(63.7%,#58B1F0), color-stop(75%,#58B1F0), color-stop(75%,transparent), color-stop(76.2%,transparent), 
										color-stop(76.2%,#58B1F0), color-stop(87.5%,#58B1F0), color-stop(87.5%,transparent), color-stop(89%,transparent), 
										color-stop(89%,#58B1F0), color-stop(100%,#58B1F0)
										);
	/*background: #58B1F0;*/
}

.progress-8::-moz-progress-bar {
	background: -webkit-gradient(linear, left top, right top, 
										color-stop(0%,#58B1F0), color-stop(12.5%,#58B1F0), color-stop(12.5%,transparent), color-stop(13.7%,transparent), 
										color-stop(13.7%,#58B1F0), color-stop(25%,#58B1F0), color-stop(25%,transparent), color-stop(26.2%,transparent), 
										color-stop(26.2%,#58B1F0), color-stop(37.5%,#58B1F0), color-stop(37.5%,transparent), color-stop(38.7%,transparent), 
										color-stop(38.7%,#58B1F0), color-stop(50%,#58B1F0), color-stop(50%,transparent), color-stop(51.2%,transparent), 
										color-stop(51.2%,#58B1F0), color-stop(62.5%,#58B1F0), color-stop(62.5%,transparent), color-stop(63.7%,transparent), 
										color-stop(63.7%,#58B1F0), color-stop(75%,#58B1F0), color-stop(75%,transparent), color-stop(76.2%,transparent), 
										color-stop(76.2%,#58B1F0), color-stop(87.5%,#58B1F0), color-stop(87.5%,transparent), color-stop(89%,transparent), 
										color-stop(89%,#58B1F0), color-stop(100%,#58B1F0)
										);
	/*background: #58B1F0;*/
}

.progress-7::-webkit-progress-value {
	background: -webkit-linear-gradient(left, 
			#58B1F0 0%, #58B1F0 14.2%, transparent 14.2%, transparent 15.6%, 
			#58B1F0 15.6%, #58B1F0 28.5%, transparent 28.5%, transparent 29.9%, 
			#58B1F0 29.9%, #58B1F0 42.7%, transparent 42.7%, transparent 44.1%, 
			#58B1F0 44.1%, #58B1F0 57%, transparent 57%, transparent 58.4%, 
			#58B1F0 58.4%, #58B1F0 71.2%, transparent 71.2%, transparent 72.6%, 
			#58B1F0 72.6%, #58B1F0 85.5%, transparent 85.5%, transparent 86.9%, 
			#58B1F0 86.9%, #58B1F0 100%);
}

.progress-7::-moz-progress-bar {
	background: -moz-linear-gradient(left, 
			#58B1F0 0%, #58B1F0 14.2%, transparent 14.2%, transparent 15.6%, 
			#58B1F0 15.6%, #58B1F0 28.5%, transparent 28.5%, transparent 29.9%, 
			#58B1F0 29.9%, #58B1F0 42.7%, transparent 42.7%, transparent 44.1%, 
			#58B1F0 44.1%, #58B1F0 57%, transparent 57%, transparent 58.4%, 
			#58B1F0 58.4%, #58B1F0 71.2%, transparent 71.2%, transparent 72.6%, 
			#58B1F0 72.6%, #58B1F0 85.5%, transparent 85.5%, transparent 86.9%, 
			#58B1F0 86.9%, #58B1F0 100%);
}

.progress-6::-webkit-progress-value {
	background: -webkit-linear-gradient(left, 
			#58B1F0 0%, #58B1F0 16.6%, transparent 16.6%, transparent 18.2%, 
			#58B1F0 18.2%, #58B1F0 33.2%, transparent 33.2%, transparent 34.8%, 
			#58B1F0 34.8%, #58B1F0 49.8%, transparent 49.8%, transparent 51.4%, 
			#58B1F0 51.4%, #58B1F0 65.4%, transparent 65.4%, transparent 67%, 
			#58B1F0 67%, #58B1F0 82%, transparent 82%, transparent 82.6%, 
			#58B1F0 83.6%, #58B1F0 100%);
}

.progress-6::-moz-progress-bar {
	background: -moz-linear-gradient(left, 
			#58B1F0 0%, #58B1F0 16.6%, transparent 16.6%, transparent 18.2%, 
			#58B1F0 18.2%, #58B1F0 33.2%, transparent 33.2%, transparent 34.8%, 
			#58B1F0 34.8%, #58B1F0 49.8%, transparent 49.8%, transparent 51.4%, 
			#58B1F0 51.4%, #58B1F0 65.4%, transparent 65.4%, transparent 67%, 
			#58B1F0 67%, #58B1F0 82%, transparent 82%, transparent 82.6%, 
			#58B1F0 83.6%, #58B1F0 100%);
}

.progress-5::-webkit-progress-value {
	background: -webkit-linear-gradient(left, 
			#58B1F0 0%, #58B1F0 20%, transparent 20%, transparent 22%, 
			#58B1F0 22%, #58B1F0 40%, transparent 40%, transparent 42%, 
			#58B1F0 42%, #58B1F0 60%, transparent 60%, transparent 62%, 
			#58B1F0 62%, #58B1F0 80%, transparent 80%, transparent 82%, 
			#58B1F0 82%, #58B1F0 100%);
}

.progress-5::-moz-progress-bar {
	background: -moz-linear-gradient(left, 
			#58B1F0 0%, #58B1F0 20%, transparent 20%, transparent 22%, 
			#58B1F0 22%, #58B1F0 40%, transparent 40%, transparent 42%, 
			#58B1F0 42%, #58B1F0 60%, transparent 60%, transparent 62%, 
			#58B1F0 62%, #58B1F0 80%, transparent 80%, transparent 82%, 
			#58B1F0 82%, #58B1F0 100%);
}

.progress-4::-webkit-progress-value {
	background: -webkit-linear-gradient(left, 
			#58B1F0 0%, #58B1F0 25%, transparent 25%, transparent 27.5%, 
			#58B1F0 27.5%, #58B1F0 50%, transparent 50%, transparent 52.5%, 
			#58B1F0 52.5%, #58B1F0 75%, transparent 75%, transparent 77.5%, 
			#58B1F0 77.5%, #58B1F0 100%);
}

.progress-4::-moz-progress-bar {
	background: -moz-linear-gradient(left, 
			#58B1F0 0%, #58B1F0 25%, transparent 25%, transparent 27.5%, 
			#58B1F0 27.5%, #58B1F0 50%, transparent 50%, transparent 52.5%, 
			#58B1F0 52.5%, #58B1F0 75%, transparent 75%, transparent 77.5%, 
			#58B1F0 77.5%, #58B1F0 100%);
}

.progress-3::-webkit-progress-value {
	background: -webkit-linear-gradient(left, 
			#58B1F0 0%, #58B1F0 33.3%, transparent 33.3%, transparent 36.6%, 
			#58B1F0 36.6%, #58B1F0 66.6%, transparent 66.6%, transparent 69.9%,  
			#58B1F0 69.9%, #58B1F0 100%);
}

.progress-3::-moz-progress-bar {
	background: -moz-linear-gradient(left, 
			#58B1F0 0%, #58B1F0 33.3%, transparent 33.3%, transparent 36.6%, 
			#58B1F0 36.6%, #58B1F0 66.6%, transparent 66.6%, transparent 69.9%,  
			#58B1F0 69.9%, #58B1F0 100%);
}

.progress-2::-webkit-progress-value {
	background: -webkit-linear-gradient(left, 
			#58B1F0 0%, #58B1F0 48%, transparent 48%, transparent 52%, 
			#58B1F0 52%, #58B1F0 100%);
}

.progress-2::-moz-progress-bar {
	background: -moz-linear-gradient(left, 
			#58B1F0 0%, #58B1F0 48%, transparent 48%, transparent 52%, 
			#58B1F0 52%, #58B1F0 100%);
}

.progress-1::-webkit-progress-value {
	background: -webkit-linear-gradient(left, 
			#58B1F0 0%, #58B1F0 100%);
}

.progress-1::-moz-progress-bar {
	background: -moz-linear-gradient(left, 
			#58B1F0 0%, #58B1F0 100%);
}