dl {
	width: 40%;
}

dd {
	margin: 2px;
	padding: 1px;
}

.courses {
	color: #FCFCFC;
}

.course {
	background: #1D4764;
	color: #51B1ED;
}

.course:hover {
	box-shadow: 0px 0px 10px #4A5C71;
}

.course:active {
	background: #53B3EF;
	color: #141C3D;
	border: 1px solid #1A4264;
	padding: 0px;
}


.done-mark {
	float: right;
}