<!DOCTYPE html>
<html>
<head>
	<!-- STYLES -->
	<link rel="stylesheet" type="text/css" href="/css/header.css" media="all">
	<!-- SCRIPT -->
	<script src="/js/headerTime.js"></script>
	<script src="/js/eventsHeader.js"></script>
</head>
<body>
	<header class="flex-header">
		<a 	id="profile-button" 
			class="flex-item-header" 
			href="https://github.com/iamnotaskynet">
			<img src="https://avatars0.githubusercontent.com/u/14093790?s=460&amp;v=4" width="40" height="40" alt="">
			<span>iamnotaskynet</span>
		</a>
		<div class="flex-item-header header-menu">
			<a id="goto-landing" href="/landing.html">Landing mode</a>
			<a href="">Instruments</a>
			<a href="">Knowledgebase</a>
		</div>
		<span id="datetime" class="flex-item-header">time </span>
	</header>
</body>
</html>