<!DOCTYPE html>
<html lang="en">
<head>
	<title>iamnotaskynet</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<!-- STYLES -->
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/projects.css">
	<link rel="stylesheet" type="text/css" href="/css/scrollBar.css">
	
</head>
<body>

	<div class="flex-container">
		<button 
			id="btn-helloworld"
			class="flex-item button-index" 
			onclick="window.open('https://iamnotaskynet.github.io/helloworld/')">
				HELLOWORLD</button>
		<button 
			id="btn-ancientnums"
			class="flex-item button-index"
			onclick="window.open('https://iamnotaskynet.github.io/babylnums/')">
				ANCIENTNUMS</button>
		<button 
			id="btn-telegalinks"
			class="flex-item button-index"
			onclick="window.open('https://iamnotaskynet.github.io/telegalinks/')">
				TELEGALINKS</button>
		<!-- <button class="flex-item"></button> -->
	</div>

</body>
</html>

